* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    font-family: arial, sans-serif;
    font-size: 14px;

}

.container{
    background-color: #c6c5c5;
    display: table;
    margin: 0 auto;
}

.table{
    border-collapse: collapse;
    margin: 30px;
    border: none;



}

.body,.table__head__row{
    text-align: left;
    padding: 12px;
    border: none;
    height: 33px;

}


.table__head__row,.body__row--even{
    background-color: #fff;

}
.body__cell{
    padding-right: 10px;
}

.image{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.body__row--odd{
    background-color: #e0dddd;
}
